@media (max-width: 480px){
    
    figure>img{
        margin-top: 150px;
        width: 350px;
        margin-bottom: 60px;
    }

    input, button{
        margin-top: 50px;
        font-size: 60px;
        margin-bottom: 20px;
    }

    a{
        font-size: 60px;
    }

    footer{
        margin-top: 98.5vh;
        width: 985px;
        font-size: 25px;
    }

    footer>p>a{
        font-size: 25px;
    }
}

